body{
   
    font-family: sans-serif
}
*{
    font:inherit;
    margin: 0;
    padding:0;
}

ul{
    list-style: none;
    text-align: center;
}
li{
    margin-bottom:0.6em;
   
}
.header{
    
    background-color:black;
    color:antiquewhite;
    margin-bottom: 3em;
}
/* .nav{
   margin:0;
}
.guide{
    margin:0
} */
a{
    
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    color: azure;
}
.header h1{
    font-size: 4rem;
    text-align: center;
    margin:0;

}
.container{
    margin: auto;
    padding: 1em 1em;
    width:80%;
}
.img-container{
    width:90%;
    margin-bottom: 2em;
   
    
}
.pic{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    
}
.img-text{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom:0.5em;
   

}
@media only screen and (min-width: 768px) {
    .top{
        display:flex;
        justify-content: space-between;
    }
    .title{margin-left:0;}
    .guide{
        display: flex;
        justify-content: space-between;
    }
    a{
        padding: 0.6em;
    }
    
    .content {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      /* .img-container{
        width:25%;
      } */
}
